In [1]:
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error , r2_score
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import scale
from sklearn.impute import SimpleImputer
df = pd.read_csv('./DATA/train.csv')

In [2]:
df.corr()

,ID,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH_DIST,NEAREST_SCH_RANK
ID,1.000000,0.002149,0.007004,-0.000146,-0.010428,-0.007281,0.006915,0.000651,0.000779,0.003104,0.003222,-0.011983,-0.006936,-0.000778,-0.010885
PRICE,0.002149,1.000000,0.256909,0.386485,0.124276,0.046778,0.539524,-0.148771,-0.357368,-0.099370,-0.162925,0.046722,-0.183514,-0.024030,-0.453937
BEDROOMS,0.007004,0.256909,1.000000,0.558640,0.180447,0.047265,0.536185,0.234275,0.120185,0.105443,0.019795,0.023951,-0.011119,0.093771,0.029626
BATHROOMS,-0.000146,0.386485,0.558640,1.000000,0.181213,0.028357,0.556328,0.345848,0.028758,0.033446,-0.032696,0.048622,-0.094269,0.053522,-0.095940
GARAGE,-0.010428,0.124276,0.180447,0.181213,1.000000,0.042186,0.186341,0.045461,0.042033,0.101591,0.019979,-0.011987,0.085201,0.094102,0.014924
LAND_AREA,-0.007281,0.046778,0.047265,0.028357,0.042186,1.000000,0.066470,0.009614,0.114915,0.201562,0.034252,-0.002033,0.130394,0.245674,0.034244
FLOOR_AREA,0.006915,0.539524,0.536185,0.556328,0.186341,0.066470,1.000000,0.230423,0.022669,0.106088,-0.040491,0.039342,-0.039926,0.117837,-0.136373
BUILD_YEAR,0.000651,-0.148771,0.234275,0.345848,0.045461,0.009614,0.230423,1.000000,0.258332,0.090911,0.038833,0.045702,-0.063877,0.096881,0.151206
CBD_DIST,0.000779,-0.357368,0.120185,0.028758,0.042033,0.114915,0.022669,0.258332,1.000000,0.450933,0.249753,-0.194665,-0.055923,0.379823,0.324407
NEAREST_STN_DIST,0.003104,-0.099370,0.105443,0.033446,0.101591,0.201562,0.106088,0.090911,0.450933,1.000000,0.205185,0.022709,0.497753,0.636990,0.184562
POSTCODE,0.003222,-0.162925,0.019795,-0.032696,0.019979,0.034252,-0.040491,0.038833,0.249753,0.205185,1.000000,-0.643786,0.174066,0.133505,0.190799
LATITUDE,-0.011983,0.046722,0.023951,0.048622,-0.011987,-0.002033,0.039342,0.045702,-0.194665,0.022709,-0.643786,1.000000,-0.113690,-0.010809,-0.050500
LONGITUDE,-0.006936,-0.183514,-0.011119,-0.094269,0.085201,0.130394,-0.039926,-0.063877,-0.055923,0.497753,0.174066,-0.113690,1.000000,0.306749,0.244113
NEAREST_SCH_DIST,-0.000778,-0.024030,0.093771,0.053522,0.094102,0.245674,0.117837,0.096881,0.379823,0.636990,0.133505,-0.010809,0.306749,1.000000,0.155208
NEAREST_SCH_RANK,-0.010885,-0.453937,0.029626,-0.095940,0.014924,0.034244,-0.136373,0.151206,0.324407,0.184562,0.190799,-0.050500,0.244113,0.155208,1.000000

In [3]:
df.corr()

,ID,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH_DIST,NEAREST_SCH_RANK
ID,1.000000,0.002149,0.007004,-0.000146,-0.010428,-0.007281,0.006915,0.000651,0.000779,0.003104,0.003222,-0.011983,-0.006936,-0.000778,-0.010885
PRICE,0.002149,1.000000,0.256909,0.386485,0.124276,0.046778,0.539524,-0.148771,-0.357368,-0.099370,-0.162925,0.046722,-0.183514,-0.024030,-0.453937
BEDROOMS,0.007004,0.256909,1.000000,0.558640,0.180447,0.047265,0.536185,0.234275,0.120185,0.105443,0.019795,0.023951,-0.011119,0.093771,0.029626
BATHROOMS,-0.000146,0.386485,0.558640,1.000000,0.181213,0.028357,0.556328,0.345848,0.028758,0.033446,-0.032696,0.048622,-0.094269,0.053522,-0.095940
GARAGE,-0.010428,0.124276,0.180447,0.181213,1.000000,0.042186,0.186341,0.045461,0.042033,0.101591,0.019979,-0.011987,0.085201,0.094102,0.014924
LAND_AREA,-0.007281,0.046778,0.047265,0.028357,0.042186,1.000000,0.066470,0.009614,0.114915,0.201562,0.034252,-0.002033,0.130394,0.245674,0.034244
FLOOR_AREA,0.006915,0.539524,0.536185,0.556328,0.186341,0.066470,1.000000,0.230423,0.022669,0.106088,-0.040491,0.039342,-0.039926,0.117837,-0.136373
BUILD_YEAR,0.000651,-0.148771,0.234275,0.345848,0.045461,0.009614,0.230423,1.000000,0.258332,0.090911,0.038833,0.045702,-0.063877,0.096881,0.151206
CBD_DIST,0.000779,-0.357368,0.120185,0.028758,0.042033,0.114915,0.022669,0.258332,1.000000,0.450933,0.249753,-0.194665,-0.055923,0.379823,0.324407
NEAREST_STN_DIST,0.003104,-0.099370,0.105443,0.033446,0.101591,0.201562,0.106088,0.090911,0.450933,1.000000,0.205185,0.022709,0.497753,0.636990,0.184562
POSTCODE,0.003222,-0.162925,0.019795,-0.032696,0.019979,0.034252,-0.040491,0.038833,0.249753,0.205185,1.000000,-0.643786,0.174066,0.133505,0.190799
LATITUDE,-0.011983,0.046722,0.023951,0.048622,-0.011987,-0.002033,0.039342,0.045702,-0.194665,0.022709,-0.643786,1.000000,-0.113690,-0.010809,-0.050500
LONGITUDE,-0.006936,-0.183514,-0.011119,-0.094269,0.085201,0.130394,-0.039926,-0.063877,-0.055923,0.497753,0.174066,-0.113690,1.000000,0.306749,0.244113
NEAREST_SCH_DIST,-0.000778,-0.024030,0.093771,0.053522,0.094102,0.245674,0.117837,0.096881,0.379823,0.636990,0.133505,-0.010809,0.306749,1.000000,0.155208
NEAREST_SCH_RANK,-0.010885,-0.453937,0.029626,-0.095940,0.014924,0.034244,-0.136373,0.151206,0.324407,0.184562,0.190799,-0.050500,0.244113,0.155208,1.000000

In [4]:
ndf= df.drop(['ID', 'LAND_AREA', 'NEAREST_STN_DIST'], axis=1)
ndf.head()

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,9 Crumlin Way,Ridgewood,520000,5,2,4.0,266,2007.0,35500,Butler Station,09-2015\r,6030,-31.656206,115.720566,IRENE MCCORMACK CATHOLIC COLLEGE,1.079230,120.0
1,37 Sissinghurst Crescent,Landsdale,575000,5,4,2.0,301,2014.0,16900,Whitfords Station,07-2018\r,6065,-31.800802,115.867675,LANDSDALE CHRISTIAN SCHOOL,0.667585,NaN
2,24 Tees Court,Mindarie,760000,4,2,2.0,220,1992.0,33500,Clarkson Station,02-2020\r,6030,-31.682040,115.702600,MINDARIE SENIOR COLLEGE,0.650761,111.0
3,31 Brentham Street,Mount Hawthorn,1230000,2,1,2.0,185,1938.0,3500,Leederville Station,07-2020\r,6016,-31.926046,115.838181,ARANMORE CATHOLIC COLLEGE,0.484465,106.0
4,46/1 Corkhill Street,North Fremantle,2010000,3,2,2.0,186,2004.0,12900,North Fremantle Station,10-2017\r,6159,-32.032079,115.759626,JOHN CURTIN COLLEGE OF THE ARTS,1.869050,25.0

In [5]:
ndf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18510 entries, 0 to 18509
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ADDRESS           18510 non-null  object
 1   SUBURB            18510 non-null  object
 2   PRICE             18510 non-null  int64
 3   BEDROOMS          18510 non-null  int64
 4   BATHROOMS         18510 non-null  int64
 5   GARAGE            17143 non-null  float64
 6   FLOOR_AREA        18510 non-null  int64
 7   BUILD_YEAR        16782 non-null  float64
 8   CBD_DIST          18510 non-null  int64
 9   NEAREST_STN       18510 non-null  object
 10  DATE_SOLD         18510 non-null  object
 11  POSTCODE          18510 non-null  int64
 12  LATITUDE          18510 non-null  float64
 13  LONGITUDE         18510 non-null  float64
 14  NEAREST_SCH       18510 non-null  object
 15  NEAREST_SCH_DIST  18510 non-null  float64
 16  NEAREST_SCH_RANK  12510 non-null  float64
dtypes: float64(6), int64(6), object(5)
memory usage: 2.4+ MB

In [6]:
ndf.isnull().sum()

ADDRESS                0
SUBURB                 0
PRICE                  0
BEDROOMS               0
BATHROOMS              0
GARAGE              1367
FLOOR_AREA             0
BUILD_YEAR          1728
CBD_DIST               0
NEAREST_STN            0
DATE_SOLD              0
POSTCODE               0
LATITUDE               0
LONGITUDE              0
NEAREST_SCH            0
NEAREST_SCH_DIST       0
NEAREST_SCH_RANK    6000
dtype: int64

In [7]:
ndf['GARAGE'].mean()

2.1997900017499856

In [8]:
ndf['BUILD_YEAR'].mean()

1989.8053271362173

In [9]:
ndf['NEAREST_SCH_RANK'].mean()

72.68705035971223

In [10]:
imp_mean = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imp_median = SimpleImputer(missing_values = np.nan, strategy = 'median')

In [11]:
df_garage = imp_mean.fit_transform(ndf[['GARAGE']])
df_garage

array([[4.],
       [2.],
       [2.],
       ...,
       [1.],
       [2.],
       [2.]])

In [12]:
df_BuildYear = imp_median.fit_transform(ndf[['BUILD_YEAR']])
df_BuildYear

array([[2007.],
       [2014.],
       [1992.],
       ...,
       [1953.],
       [1988.],
       [1987.]])

In [13]:
df_NearestSchRank = imp_mean.fit_transform(ndf[['NEAREST_SCH_RANK']])
df_NearestSchRank

array([[120.        ],
       [ 72.68705036],
       [111.        ],
       ...,
       [ 72.68705036],
       [ 91.        ],
       [ 46.        ]])

In [14]:
ndf['GARAGE'] = df_garage
ndf['BUILD_YEAR'] = df_BuildYear
ndf['NEAREST_SCH_RANK']= df_NearestSchRank

In [15]:
ndf.head(10)

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,9 Crumlin Way,Ridgewood,520000,5,2,4.00000,266,2007.0,35500,Butler Station,09-2015\r,6030,-31.656206,115.720566,IRENE MCCORMACK CATHOLIC COLLEGE,1.079230,120.00000
1,37 Sissinghurst Crescent,Landsdale,575000,5,4,2.00000,301,2014.0,16900,Whitfords Station,07-2018\r,6065,-31.800802,115.867675,LANDSDALE CHRISTIAN SCHOOL,0.667585,72.68705
2,24 Tees Court,Mindarie,760000,4,2,2.00000,220,1992.0,33500,Clarkson Station,02-2020\r,6030,-31.682040,115.702600,MINDARIE SENIOR COLLEGE,0.650761,111.00000
3,31 Brentham Street,Mount Hawthorn,1230000,2,1,2.00000,185,1938.0,3500,Leederville Station,07-2020\r,6016,-31.926046,115.838181,ARANMORE CATHOLIC COLLEGE,0.484465,106.00000
4,46/1 Corkhill Street,North Fremantle,2010000,3,2,2.00000,186,2004.0,12900,North Fremantle Station,10-2017\r,6159,-32.032079,115.759626,JOHN CURTIN COLLEGE OF THE ARTS,1.869050,25.00000
5,65 Monash Avenue,Como,980000,3,1,1.00000,252,2015.0,4800,Canning Bridge Station,12-2019\r,6152,-31.992199,115.876052,PENRHOS COLLEGE,0.669617,4.00000
6,28 Newstead Crescent,Parmelia,357000,4,1,2.00000,120,1983.0,33400,Wellard Station,12-2015\r,6167,-32.250380,115.820040,PETER CARNLEY ANGLICAN COMMUNITY SCHOOL,0.889794,72.68705
7,12 Lauri Court,Parkwood,389000,2,1,2.00000,113,1981.0,12400,Thornlie Station,08-2016\r,6147,-32.051130,115.920000,LYNWOOD SENIOR HIGH SCHOOL,1.088619,96.00000
8,565 Jacoby Street,Mahogany Creek,550000,3,2,2.19979,167,1910.0,27000,Midland Station,12-2014\r,6072,-31.904710,116.138770,MUNDARING CHRISTIAN COLLEGE,3.975465,72.68705
9,18 Mornington Drive,Banksia Grove,389000,4,2,2.00000,172,2008.0,27700,Currambine Station,07-2020\r,6031,-31.707383,115.809724,JOSEPH BANKS SECONDARY COLLEGE,1.575722,92.00000

In [16]:
# 인코딩 작업
df_address = ndf['ADDRESS']
df_suburb = ndf['SUBURB']
df_nearest_stn = ndf['NEAREST_STN']
df_date_sold = ndf['DATE_SOLD']
df_NearestSch = ndf['NEAREST_SCH']

In [17]:
le = LabelEncoder()
le.fit(df_address) 
address = le.transform(df_address)

In [18]:
le.fit(df_suburb) 
suburb = le.transform(df_suburb)

In [19]:
le.fit(df_nearest_stn) 
nearest_stn = le.transform(df_nearest_stn)

In [20]:
le.fit(df_date_sold) 
date_sold = le.transform(df_date_sold)

In [21]:
le.fit(df_NearestSch) 
NearestSch = le.transform(df_NearestSch)

In [22]:
ndf['ADDRESS'] = address
ndf['SUBURB'] = suburb
ndf['NEAREST_STN'] = nearest_stn
ndf['DATE_SOLD'] = date_sold
ndf['NEAREST_SCH'] = NearestSch

In [23]:
ndf

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,17807,243,520000,5,2,4.0,266,2007.0,35500,8,242,6030,-31.656206,115.720566,64,1.079230,120.00000
1,10855,167,575000,5,4,2.0,301,2014.0,16900,66,189,6065,-31.800802,115.867675,82,0.667585,72.68705
2,7581,195,760000,4,2,2.0,220,1992.0,33500,16,53,6030,-31.682040,115.702600,96,0.650761,111.00000
3,9723,200,1230000,2,1,2.0,185,1938.0,3500,36,191,6016,-31.926046,115.838181,5,0.484465,106.00000
4,12684,219,2010000,3,2,2.0,186,2004.0,12900,47,274,6159,-32.032079,115.759626,66,1.869050,25.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18505,10661,133,475000,4,2,2.0,198,2007.0,21200,23,106,6065,-31.764187,115.824151,151,1.104533,131.00000
18506,742,64,485000,3,2,2.0,237,2010.0,22100,33,153,6111,-32.114990,115.992834,69,1.816768,40.00000
18507,3277,242,642000,3,1,1.0,110,1953.0,8900,2,25,6104,-31.931320,115.950060,37,2.169696,72.68705
18508,2088,251,491000,4,2,2.0,176,1988.0,14600,46,67,6163,-32.070861,115.793834,124,0.208669,91.00000
18509,5762,164,490000,4,1,2.0,109,1987.0,11600,62,240,6064,-31.848240,115.864000,94,0.618862,46.00000

In [24]:
# 분류작업
y_target = ndf['PRICE']
X_data = ndf.drop(['PRICE'],axis=1,inplace=False)
X_train , X_test , y_train , y_test = train_test_split(X_data , y_target , random_state=156)

In [25]:
model_ndf = LinearRegression().fit(X_train, y_train)

In [26]:
model_ndf.score(X_train, y_train)

0.5837140885179213

In [27]:
# 테스트 데이터에 적용작업

tdf = pd.read_csv('./DATA/test.csv')
tdf

,ID,ADDRESS,SUBURB,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,18510,29 Hartung Street,Mundaring,3,2,3.0,2199,159,1950.0,29600,Midland Station,15600,03-2019\r,6073,-31.899705,116.166117,MUNDARING CHRISTIAN COLLEGE,1.341198,NaN
1,18511,6 Kirkby Ridge,Salter Point,4,3,2.0,509,341,2001.0,8200,Canning Bridge Station,2000,08-2017\r,6152,-32.018620,115.858900,AQUINAS COLLEGE,0.882405,23.0
2,18512,45 Connelly Way,Booragoon,4,3,2.0,725,251,1982.0,10500,Bull Creek Station,2700,07-2018\r,6154,-32.042090,115.826290,APPLECROSS SENIOR HIGH SCHOOL,1.639635,34.0
3,18513,21 Torrenova Way,Sinagra,3,2,2.0,401,169,2009.0,24100,Joondalup Station,3500,05-2014\r,6065,-31.740480,115.804078,WANNEROO SECONDARY COLLEGE,2.199511,131.0
4,18514,4B Hilo Place,Warnbro,3,1,1.0,474,107,1993.0,43600,Warnbro Station,1100,03-2019\r,6169,-32.335790,115.765140,WARNBRO COMMUNITY HIGH SCHOOL,1.227092,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15141,33651,2 Danehill Place,Balga,3,1,NaN,801,108,1996.0,10800,Warwick Station,3900,04-2018\r,6061,-31.857800,115.834370,BALGA SENIOR HIGH SCHOOL,1.352896,NaN
15142,33652,19 Hester Street,Langford,4,2,2.0,530,158,1998.0,13100,Thornlie Station,854,11-2018\r,6147,-32.039400,115.951670,COMMUNICARE ACADEMY,1.526169,NaN
15143,33653,43 Hale Street,Watermans Bay,3,2,2.0,1072,148,1950.0,14700,Warwick Station,3800,02-2015\r,6020,-31.852980,115.757010,CARINE SENIOR HIGH SCHOOL,1.779797,47.0
15144,33654,980 Bushlands Road,Hovea,5,3,2.0,19996,396,1990.0,24900,Midland Station,10200,09-2012\r,6071,-31.878930,116.107640,HELENA COLLEGE,3.523922,78.0
15145,33655,9/3 Marsh Road,Mount Richon,3,1,1.0,5823,109,1990.0,27400,Armadale Station,688,03-2013\r,6112,-32.158325,116.018269,ARMADALE SENIOR HIGH SCHOOL,0.512639,NaN

In [28]:
ntdf= df.drop(['ID', 'PRICE','LAND_AREA', 'NEAREST_STN_DIST'], axis=1)
ntdf.head()

,ADDRESS,SUBURB,BEDROOMS,BATHROOMS,GARAGE,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,9 Crumlin Way,Ridgewood,5,2,4.0,266,2007.0,35500,Butler Station,09-2015\r,6030,-31.656206,115.720566,IRENE MCCORMACK CATHOLIC COLLEGE,1.079230,120.0
1,37 Sissinghurst Crescent,Landsdale,5,4,2.0,301,2014.0,16900,Whitfords Station,07-2018\r,6065,-31.800802,115.867675,LANDSDALE CHRISTIAN SCHOOL,0.667585,NaN
2,24 Tees Court,Mindarie,4,2,2.0,220,1992.0,33500,Clarkson Station,02-2020\r,6030,-31.682040,115.702600,MINDARIE SENIOR COLLEGE,0.650761,111.0
3,31 Brentham Street,Mount Hawthorn,2,1,2.0,185,1938.0,3500,Leederville Station,07-2020\r,6016,-31.926046,115.838181,ARANMORE CATHOLIC COLLEGE,0.484465,106.0
4,46/1 Corkhill Street,North Fremantle,3,2,2.0,186,2004.0,12900,North Fremantle Station,10-2017\r,6159,-32.032079,115.759626,JOHN CURTIN COLLEGE OF THE ARTS,1.869050,25.0

In [29]:
# 결측값 처리
imp_mean = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imp_median = SimpleImputer(missing_values = np.nan, strategy = 'median')

In [30]:
tdf_garage = imp_mean.fit_transform(ntdf[['GARAGE']])
tdf_garage

array([[4.],
       [2.],
       [2.],
       ...,
       [1.],
       [2.],
       [2.]])

In [31]:
tdf_BuildYear = imp_median.fit_transform(ntdf[['BUILD_YEAR']])
tdf_BuildYear

array([[2007.],
       [2014.],
       [1992.],
       ...,
       [1953.],
       [1988.],
       [1987.]])

In [32]:
tdf_NearestSchRank = imp_mean.fit_transform(ntdf[['NEAREST_SCH_RANK']])
tdf_NearestSchRank

array([[120.        ],
       [ 72.68705036],
       [111.        ],
       ...,
       [ 72.68705036],
       [ 91.        ],
       [ 46.        ]])

In [33]:
ntdf['GARAGE'] = tdf_garage
ntdf['BUILD_YEAR'] = tdf_BuildYear
ntdf['NEAREST_SCH_RANK']= tdf_NearestSchRank

In [34]:
ntdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18510 entries, 0 to 18509
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ADDRESS           18510 non-null  object
 1   SUBURB            18510 non-null  object
 2   BEDROOMS          18510 non-null  int64
 3   BATHROOMS         18510 non-null  int64
 4   GARAGE            18510 non-null  float64
 5   FLOOR_AREA        18510 non-null  int64
 6   BUILD_YEAR        18510 non-null  float64
 7   CBD_DIST          18510 non-null  int64
 8   NEAREST_STN       18510 non-null  object
 9   DATE_SOLD         18510 non-null  object
 10  POSTCODE          18510 non-null  int64
 11  LATITUDE          18510 non-null  float64
 12  LONGITUDE         18510 non-null  float64
 13  NEAREST_SCH       18510 non-null  object
 14  NEAREST_SCH_DIST  18510 non-null  float64
 15  NEAREST_SCH_RANK  18510 non-null  float64
dtypes: float64(6), int64(5), object(5)
memory usage: 2.3+ MB

In [35]:
# 인코딩 작업
tdf_address = ntdf['ADDRESS']
tdf_suburb = ntdf['SUBURB']
tdf_nearest_stn = ntdf['NEAREST_STN']
tdf_date_sold = ntdf['DATE_SOLD']
tdf_NearestSch = ntdf['NEAREST_SCH']

In [36]:
tle = LabelEncoder()

In [37]:
tle.fit(tdf_address)
t_address = tle.transform(tdf_address)

In [38]:
tle.fit(tdf_suburb)
t_suburb = tle.transform(tdf_suburb)

In [39]:
tle.fit(tdf_nearest_stn)
t_nearest_stn = tle.transform(tdf_nearest_stn)

In [40]:
tle.fit(tdf_date_sold)
t_date_sold = tle.transform(tdf_date_sold)

In [41]:
tle.fit(tdf_NearestSch)
t_NearestSch = tle.transform(tdf_NearestSch)

In [42]:
ntdf['ADDRESS'] = t_address
ntdf['SUBURB'] = t_suburb
ntdf['NEAREST_STN'] = t_nearest_stn
ntdf['DATE_SOLD'] = t_date_sold
ntdf['NEAREST_SCH'] = t_NearestSch

In [43]:
ntdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18510 entries, 0 to 18509
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ADDRESS           18510 non-null  int32
 1   SUBURB            18510 non-null  int32
 2   BEDROOMS          18510 non-null  int64
 3   BATHROOMS         18510 non-null  int64
 4   GARAGE            18510 non-null  float64
 5   FLOOR_AREA        18510 non-null  int64
 6   BUILD_YEAR        18510 non-null  float64
 7   CBD_DIST          18510 non-null  int64
 8   NEAREST_STN       18510 non-null  int32
 9   DATE_SOLD         18510 non-null  int32
 10  POSTCODE          18510 non-null  int64
 11  LATITUDE          18510 non-null  float64
 12  LONGITUDE         18510 non-null  float64
 13  NEAREST_SCH       18510 non-null  int32
 14  NEAREST_SCH_DIST  18510 non-null  float64
 15  NEAREST_SCH_RANK  18510 non-null  float64
dtypes: float64(6), int32(5), int64(5)
memory usage: 1.9 MB

In [44]:
ntdf

,ADDRESS,SUBURB,BEDROOMS,BATHROOMS,GARAGE,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,17807,243,5,2,4.0,266,2007.0,35500,8,242,6030,-31.656206,115.720566,64,1.079230,120.00000
1,10855,167,5,4,2.0,301,2014.0,16900,66,189,6065,-31.800802,115.867675,82,0.667585,72.68705
2,7581,195,4,2,2.0,220,1992.0,33500,16,53,6030,-31.682040,115.702600,96,0.650761,111.00000
3,9723,200,2,1,2.0,185,1938.0,3500,36,191,6016,-31.926046,115.838181,5,0.484465,106.00000
4,12684,219,3,2,2.0,186,2004.0,12900,47,274,6159,-32.032079,115.759626,66,1.869050,25.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18505,10661,133,4,2,2.0,198,2007.0,21200,23,106,6065,-31.764187,115.824151,151,1.104533,131.00000
18506,742,64,3,2,2.0,237,2010.0,22100,33,153,6111,-32.114990,115.992834,69,1.816768,40.00000
18507,3277,242,3,1,1.0,110,1953.0,8900,2,25,6104,-31.931320,115.950060,37,2.169696,72.68705
18508,2088,251,4,2,2.0,176,1988.0,14600,46,67,6163,-32.070861,115.793834,124,0.208669,91.00000
18509,5762,164,4,1,2.0,109,1987.0,11600,62,240,6064,-31.848240,115.864000,94,0.618862,46.00000

In [45]:
model_ntdf = model_ndf.predict(ntdf)

In [46]:
c=pd.DataFrame(model_ntdf)

In [47]:
# c.to_csv('첫작품.csv')