In [1]:
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np
from sklearn import model_selection
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn import linear_model, datasets

In [2]:
test_df = pd.read_csv('./DATA/test.csv')
train_df = pd.read_csv('./DATA/train.csv')

In [3]:
train_df.head()

,ID,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,0,9 Crumlin Way,Ridgewood,520000,5,2,4.0,674,266,2007.0,35500,Butler Station,3000,09-2015\r,6030,-31.656206,115.720566,IRENE MCCORMACK CATHOLIC COLLEGE,1.079230,120.0
1,1,37 Sissinghurst Crescent,Landsdale,575000,5,4,2.0,540,301,2014.0,16900,Whitfords Station,8100,07-2018\r,6065,-31.800802,115.867675,LANDSDALE CHRISTIAN SCHOOL,0.667585,NaN
2,2,24 Tees Court,Mindarie,760000,4,2,2.0,781,220,1992.0,33500,Clarkson Station,3500,02-2020\r,6030,-31.682040,115.702600,MINDARIE SENIOR COLLEGE,0.650761,111.0
3,3,31 Brentham Street,Mount Hawthorn,1230000,2,1,2.0,425,185,1938.0,3500,Leederville Station,1500,07-2020\r,6016,-31.926046,115.838181,ARANMORE CATHOLIC COLLEGE,0.484465,106.0
4,4,46/1 Corkhill Street,North Fremantle,2010000,3,2,2.0,546,186,2004.0,12900,North Fremantle Station,800,10-2017\r,6159,-32.032079,115.759626,JOHN CURTIN COLLEGE OF THE ARTS,1.869050,25.0

In [4]:
train_df.head()

,ID,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,0,9 Crumlin Way,Ridgewood,520000,5,2,4.0,674,266,2007.0,35500,Butler Station,3000,09-2015\r,6030,-31.656206,115.720566,IRENE MCCORMACK CATHOLIC COLLEGE,1.079230,120.0
1,1,37 Sissinghurst Crescent,Landsdale,575000,5,4,2.0,540,301,2014.0,16900,Whitfords Station,8100,07-2018\r,6065,-31.800802,115.867675,LANDSDALE CHRISTIAN SCHOOL,0.667585,NaN
2,2,24 Tees Court,Mindarie,760000,4,2,2.0,781,220,1992.0,33500,Clarkson Station,3500,02-2020\r,6030,-31.682040,115.702600,MINDARIE SENIOR COLLEGE,0.650761,111.0
3,3,31 Brentham Street,Mount Hawthorn,1230000,2,1,2.0,425,185,1938.0,3500,Leederville Station,1500,07-2020\r,6016,-31.926046,115.838181,ARANMORE CATHOLIC COLLEGE,0.484465,106.0
4,4,46/1 Corkhill Street,North Fremantle,2010000,3,2,2.0,546,186,2004.0,12900,North Fremantle Station,800,10-2017\r,6159,-32.032079,115.759626,JOHN CURTIN COLLEGE OF THE ARTS,1.869050,25.0

In [5]:
train_df.isnull().sum()

ID                     0
ADDRESS                0
SUBURB                 0
PRICE                  0
BEDROOMS               0
BATHROOMS              0
GARAGE              1367
LAND_AREA              0
FLOOR_AREA             0
BUILD_YEAR          1728
CBD_DIST               0
NEAREST_STN            0
NEAREST_STN_DIST       0
DATE_SOLD              0
POSTCODE               0
LATITUDE               0
LONGITUDE              0
NEAREST_SCH            0
NEAREST_SCH_DIST       0
NEAREST_SCH_RANK    6000
dtype: int64

In [6]:
train_df.corr()

,ID,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH_DIST,NEAREST_SCH_RANK
ID,1.000000,0.002149,0.007004,-0.000146,-0.010428,-0.007281,0.006915,0.000651,0.000779,0.003104,0.003222,-0.011983,-0.006936,-0.000778,-0.010885
PRICE,0.002149,1.000000,0.256909,0.386485,0.124276,0.046778,0.539524,-0.148771,-0.357368,-0.099370,-0.162925,0.046722,-0.183514,-0.024030,-0.453937
BEDROOMS,0.007004,0.256909,1.000000,0.558640,0.180447,0.047265,0.536185,0.234275,0.120185,0.105443,0.019795,0.023951,-0.011119,0.093771,0.029626
BATHROOMS,-0.000146,0.386485,0.558640,1.000000,0.181213,0.028357,0.556328,0.345848,0.028758,0.033446,-0.032696,0.048622,-0.094269,0.053522,-0.095940
GARAGE,-0.010428,0.124276,0.180447,0.181213,1.000000,0.042186,0.186341,0.045461,0.042033,0.101591,0.019979,-0.011987,0.085201,0.094102,0.014924
LAND_AREA,-0.007281,0.046778,0.047265,0.028357,0.042186,1.000000,0.066470,0.009614,0.114915,0.201562,0.034252,-0.002033,0.130394,0.245674,0.034244
FLOOR_AREA,0.006915,0.539524,0.536185,0.556328,0.186341,0.066470,1.000000,0.230423,0.022669,0.106088,-0.040491,0.039342,-0.039926,0.117837,-0.136373
BUILD_YEAR,0.000651,-0.148771,0.234275,0.345848,0.045461,0.009614,0.230423,1.000000,0.258332,0.090911,0.038833,0.045702,-0.063877,0.096881,0.151206
CBD_DIST,0.000779,-0.357368,0.120185,0.028758,0.042033,0.114915,0.022669,0.258332,1.000000,0.450933,0.249753,-0.194665,-0.055923,0.379823,0.324407
NEAREST_STN_DIST,0.003104,-0.099370,0.105443,0.033446,0.101591,0.201562,0.106088,0.090911,0.450933,1.000000,0.205185,0.022709,0.497753,0.636990,0.184562
POSTCODE,0.003222,-0.162925,0.019795,-0.032696,0.019979,0.034252,-0.040491,0.038833,0.249753,0.205185,1.000000,-0.643786,0.174066,0.133505,0.190799
LATITUDE,-0.011983,0.046722,0.023951,0.048622,-0.011987,-0.002033,0.039342,0.045702,-0.194665,0.022709,-0.643786,1.000000,-0.113690,-0.010809,-0.050500
LONGITUDE,-0.006936,-0.183514,-0.011119,-0.094269,0.085201,0.130394,-0.039926,-0.063877,-0.055923,0.497753,0.174066,-0.113690,1.000000,0.306749,0.244113
NEAREST_SCH_DIST,-0.000778,-0.024030,0.093771,0.053522,0.094102,0.245674,0.117837,0.096881,0.379823,0.636990,0.133505,-0.010809,0.306749,1.000000,0.155208
NEAREST_SCH_RANK,-0.010885,-0.453937,0.029626,-0.095940,0.014924,0.034244,-0.136373,0.151206,0.324407,0.184562,0.190799,-0.050500,0.244113,0.155208,1.000000

ID, LAND_AREA NEAREST_STN_DIST, LATITUDE, NEAREST_SCH_DIST

In [7]:
df2 = train_df.drop(["ID", "SUBURB", "POSTCODE", "LATITUDE", "LONGITUDE"], axis=1)
df2

,ADDRESS,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,9 Crumlin Way,520000,5,2,4.0,674,266,2007.0,35500,Butler Station,3000,09-2015\r,IRENE MCCORMACK CATHOLIC COLLEGE,1.079230,120.0
1,37 Sissinghurst Crescent,575000,5,4,2.0,540,301,2014.0,16900,Whitfords Station,8100,07-2018\r,LANDSDALE CHRISTIAN SCHOOL,0.667585,NaN
2,24 Tees Court,760000,4,2,2.0,781,220,1992.0,33500,Clarkson Station,3500,02-2020\r,MINDARIE SENIOR COLLEGE,0.650761,111.0
3,31 Brentham Street,1230000,2,1,2.0,425,185,1938.0,3500,Leederville Station,1500,07-2020\r,ARANMORE CATHOLIC COLLEGE,0.484465,106.0
4,46/1 Corkhill Street,2010000,3,2,2.0,546,186,2004.0,12900,North Fremantle Station,800,10-2017\r,JOHN CURTIN COLLEGE OF THE ARTS,1.869050,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18505,36 Kentucky Boulevard,475000,4,2,2.0,533,198,2007.0,21200,Edgewater Station,4400,04-2018\r,WANNEROO SECONDARY COLLEGE,1.104533,131.0
18506,10 Regatta Boulevard,485000,3,2,2.0,344,237,2010.0,22100,Kelmscott Station,1900,06-2011\r,JOHN WOLLASTON ANGLICAN COMMUNITY SCHOOL,1.816768,40.0
18507,145 Coolgardie Avenue,642000,3,1,1.0,1016,110,1953.0,8900,Bassendean Station,3100,01-2018\r,CYRIL JACKSON SENIOR CAMPUS,2.169696,NaN
18508,12 Mckenzie Road,491000,4,2,2.0,718,176,1988.0,14600,Murdoch Station,5400,03-2009\r,SETON CATHOLIC COLLEGE,0.208669,91.0
18509,2 Lea Road,490000,4,1,2.0,1030,109,1987.0,11600,Warwick Station,6400,09-2013\r,MERCY COLLEGE,0.618862,46.0

In [8]:
df2.isnull().sum()

ADDRESS                0
PRICE                  0
BEDROOMS               0
BATHROOMS              0
GARAGE              1367
LAND_AREA              0
FLOOR_AREA             0
BUILD_YEAR          1728
CBD_DIST               0
NEAREST_STN            0
NEAREST_STN_DIST       0
DATE_SOLD              0
NEAREST_SCH            0
NEAREST_SCH_DIST       0
NEAREST_SCH_RANK    6000
dtype: int64

결측값 제거

In [9]:
df2["GARAGE"] = df2["GARAGE"].fillna(df2["GARAGE"].mode()[0])

In [10]:
df2.GARAGE

0        4.0
1        2.0
2        2.0
3        2.0
4        2.0
        ...
18505    2.0
18506    2.0
18507    1.0
18508    2.0
18509    2.0
Name: GARAGE, Length: 18510, dtype: float64

In [11]:
df2["BUILD_YEAR"]= df2["BUILD_YEAR"].fillna(df2["BUILD_YEAR"].mode()[0])

In [12]:
df2["NEAREST_SCH_RANK"].mode()[0]

53.0

In [13]:
df2["NEAREST_SCH_RANK"] = df2["NEAREST_SCH_RANK"].fillna(df2["NEAREST_SCH_RANK"].mode()[0])

In [14]:
df2.isnull().sum()

ADDRESS             0
PRICE               0
BEDROOMS            0
BATHROOMS           0
GARAGE              0
LAND_AREA           0
FLOOR_AREA          0
BUILD_YEAR          0
CBD_DIST            0
NEAREST_STN         0
NEAREST_STN_DIST    0
DATE_SOLD           0
NEAREST_SCH         0
NEAREST_SCH_DIST    0
NEAREST_SCH_RANK    0
dtype: int64

In [15]:
df2

,ADDRESS,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,9 Crumlin Way,520000,5,2,4.0,674,266,2007.0,35500,Butler Station,3000,09-2015\r,IRENE MCCORMACK CATHOLIC COLLEGE,1.079230,120.0
1,37 Sissinghurst Crescent,575000,5,4,2.0,540,301,2014.0,16900,Whitfords Station,8100,07-2018\r,LANDSDALE CHRISTIAN SCHOOL,0.667585,53.0
2,24 Tees Court,760000,4,2,2.0,781,220,1992.0,33500,Clarkson Station,3500,02-2020\r,MINDARIE SENIOR COLLEGE,0.650761,111.0
3,31 Brentham Street,1230000,2,1,2.0,425,185,1938.0,3500,Leederville Station,1500,07-2020\r,ARANMORE CATHOLIC COLLEGE,0.484465,106.0
4,46/1 Corkhill Street,2010000,3,2,2.0,546,186,2004.0,12900,North Fremantle Station,800,10-2017\r,JOHN CURTIN COLLEGE OF THE ARTS,1.869050,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18505,36 Kentucky Boulevard,475000,4,2,2.0,533,198,2007.0,21200,Edgewater Station,4400,04-2018\r,WANNEROO SECONDARY COLLEGE,1.104533,131.0
18506,10 Regatta Boulevard,485000,3,2,2.0,344,237,2010.0,22100,Kelmscott Station,1900,06-2011\r,JOHN WOLLASTON ANGLICAN COMMUNITY SCHOOL,1.816768,40.0
18507,145 Coolgardie Avenue,642000,3,1,1.0,1016,110,1953.0,8900,Bassendean Station,3100,01-2018\r,CYRIL JACKSON SENIOR CAMPUS,2.169696,53.0
18508,12 Mckenzie Road,491000,4,2,2.0,718,176,1988.0,14600,Murdoch Station,5400,03-2009\r,SETON CATHOLIC COLLEGE,0.208669,91.0
18509,2 Lea Road,490000,4,1,2.0,1030,109,1987.0,11600,Warwick Station,6400,09-2013\r,MERCY COLLEGE,0.618862,46.0

In [16]:
df2['ADDRESS'] = df2["ADDRESS"].astype("category")# astype는 타입변경함수
df2['BEDROOMS'] = df2["BEDROOMS"].astype("category")
df2['BATHROOMS'] = df2["BATHROOMS"].astype("category")
df2['GARAGE'] = df2["GARAGE"].astype("category")
df2['LAND_AREA'] = df2["LAND_AREA"].astype("category")
df2['FLOOR_AREA'] = df2["FLOOR_AREA"].astype("category")
df2['BUILD_YEAR'] = df2["BUILD_YEAR"].astype("category")
df2['CBD_DIST'] = df2["CBD_DIST"].astype("category")
df2['NEAREST_STN '] = df2["NEAREST_STN"].astype("category")
df2['NEAREST_STN_DIST'] = df2["NEAREST_STN_DIST"].astype("category")
df2['DATE_SOLD'] = df2["DATE_SOLD"].astype("category")
df2['NEAREST_SCH'] = df2["NEAREST_SCH"].astype("category")
df2['NEAREST_SCH_DIST'] = df2["NEAREST_SCH_DIST"].astype("category")
df2['NEAREST_SCH_RANK '] = df2["NEAREST_SCH_RANK"].astype("category")

In [17]:
df2 = pd.get_dummies(df2)  # dummies로 원-핫인코딩
df2

,PRICE,NEAREST_SCH_RANK,ADDRESS_1 Ainsley Court,ADDRESS_1 Aman Place,ADDRESS_1 Ardara Lane,ADDRESS_1 Arnside Bend,ADDRESS_1 Ash Road,ADDRESS_1 Ashcroft Way,ADDRESS_1 Avonlea Place,ADDRESS_1 Babbler Court,...,NEAREST_SCH_RANK _129.0,NEAREST_SCH_RANK _130.0,NEAREST_SCH_RANK _131.0,NEAREST_SCH_RANK _133.0,NEAREST_SCH_RANK _134.0,NEAREST_SCH_RANK _135.0,NEAREST_SCH_RANK _136.0,NEAREST_SCH_RANK _137.0,NEAREST_SCH_RANK _138.0,NEAREST_SCH_RANK _139.0
0,520000,120.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,575000,53.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,760000,111.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1230000,106.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2010000,25.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18505,475000,131.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
18506,485000,40.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18507,642000,53.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18508,491000,91.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18509,490000,46.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
x_data = df2.iloc[:, 1:]
y_data = df2["PRICE"]

In [19]:
df2(colums="GARAGE")

TypeError: 'DataFrame' object is not callable

In [20]:
y_data

0         520000
1         575000
2         760000
3        1230000
4        2010000
          ...
18505     475000
18506     485000
18507     642000
18508     491000
18509     490000
Name: PRICE, Length: 18510, dtype: int64

In [21]:
from sklearn import model_selection
from sklearn. metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn import linear_model, datasets

# 학습데이터와 테스트데이터 분리
x_train, x_test, y_train, y_test = model_selection.train_test_split(x_data, y_data, test_size=0.25, random_state=42)

In [24]:
from sklearn.linear_model import Regression

classifiter = Regression
classifiter.fit(x_train, y_train)

ImportError: cannot import name 'Regression' from 'sklearn.linear_model' (C:\project\AI_Source\venv\lib\site-packages\sklearn\linear_model\__init__.py)

In [ ]:
x_test.shape

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(x_train)
X_train_scaled = scaler.transform(x_train)
X_test_scaled = scaler.transform(x_test)

In [ ]:
model = linear_model.Regression(solver = "liblinear")
model.fit(X_train_scaled, y_train)

In [ ]:
pred = model.predict(X_test_scaled)
score = accuracy_score(y_test, pred)
print('test score: ', score)